DEBUG=True
SECRET_KEY=django-insecure-auditbrain-local-dev-key-12345
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL (Docker)
POSTGRES_DB=auditbrain
POSTGRES_USER=auditbrain_user
POSTGRES_PASSWORD=auditbrain_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MongoDB Local (sin Docker)
MONGO_URI=mongodb://localhost:27017/
